*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

#body {
  background: #607d8b;

}

.robot__head {
  position: relative;
  width: 135px;
  height: 116px;
  border: 6px solid transparent;
  /* -webkit-border-radius: 50% 50% 45% 45%; */
  border-radius: 14% 3% 4% 3%;
  background: #23d4a3;
  z-index: 20;
}

.robot__ear{
  position: relative;
}

.robot__ear--left, .robot__ear--right {
  position: absolute;
  top: -8px;
  width: 58px;
  height: 60px;
  border: 5px solid transparent;
  border-radius: 90% 0 90% 0;
  background: #d445b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot__ear--left {
  transform: scale(-1,1); rotate: (170deg);
  left: -14px;
}

.robot__ear--right {
  transform: rotate(170deg);
  left: 94px;
}

.robot__ear--left-inside, .robot__ear--right-inside {
  width: 45px;
  height: 55px;
  border-radius: 90% 0 90% 0;
  background: #e57373;
}

.robot__eye {
  position: absolute;
  top: 35px;
  left: -16px;
  display: flex;
}

.robot__eye--left, .robot__eye--right {
  width: 30px;
  height: 30px;
  background: rgb(190, 40, 40);
  border-radius: 50%;
  margin: 38px;
  z-index: 100;
}

.robot__eye span {
  position: absolute;
  top: 41px;
  width: 42px;
  height: 42px;
  background: #373737;
  border-radius: 50%;
  z-index: 200;
}

.robot__eye span::before {
  content: "";
  top: 20px;
  left: 8px;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.robot__eye span.pupil-left {
  left: 42px;

}

.robot__eye span.pupil-right {
  left: 166px;
}



